<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            display: block;
        }
        .b2{
            display: inline-block;
            width: 300px;
            height: 200px;
            background: red;
        }
        a.b2{
            background: blue;
        }
    </style>
</head>
<body>
    <!-- 2 thẻ a, mỗi thẻ a tự xuống dòng -->
    <a href="">DNA</a>
    <a href="">BW2302</a>
     <hr>
     <!-- div, a, p đặt cạnh nhau, ngang 300px, dọc 200px. Màu lần lượt: xanh, đỏ, vàng -->
     <div class="b2">A</div>
     <a class="b2">b</a>
     <p class="b2">c</p>

</body>
</html>
