#head{
    width: 1200px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: blue;
    margin-bottom: 0px;
}
#content{
    width: 1200px;
    min-height: 550px;
    border: 1px solid #cdcdcd;
    float: left;
    position: static;
    top: 0px;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    /* margin-bottom: 5px; */
}
#left{
    width: 300px;
    height: 500px;
    border: 1px solid gray;
    float: left;
    overflow: auto;
    background-color: #cdcdcd;
}
#right{
    width: 300px;
    height: 500px;
    border: 1px solid #cdcdcd;
    float: right;
    box-sizing: border-box;
}
#center{
    columns: 700px;
    /* width: 800px;
    height: 500px;
    border: 1px solid #cdcdcd; */
} 
#k1{
    width: 299px;
    height: 200px;
    border: 1px solid #cdcdcd;
    border-radius: 5%;
}
#k2{
    width: 299px;
    height: 298px;
    border: 1px solid #cdcdcd;
    /* clear: both; */
    border-radius: 5%;
}
#c1{
    width: 599px;
    height: 150px;
    border: 1px solid #cdcdcd;
}
#c2{
    width: 599px;
    height: 348px;
    border: 1px solid #cdcdcd;
}
#fb{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 15px;
}
#timkiem{
    width: 200px;
    height: 20px;
    border: none;
    float: left;
    color: #63717f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
#menu{
    float: right;
    font-size: 12pt;
    color: white;
}
#a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid green;
    margin-left: 5px;
    margin-top: 4px;
}
#b{
    width: 30px;
    height: 30px;
}
#c3{
    width: 599px;
    height: 40px;
    background-color: #cdcdcd;
}
#c{
    width: 50px;
    height: 50px;
    margin-top: 3px;
    border-radius: 50%;
}
#anh{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}
#c0{
    width: 150px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    background-color: aliceblue;
}
#v0{
    margin-left: 5px;
}
