<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fb2.css">
</head>
<body>
        <div id="head">
            <img src="fb1.jpg" alt="" id="fb">
            <input type="text" value="Search" id="timkiem">
            <pre id="menu">Name|Home|Find Friends</pre>
        </div>
        <div id="content">
        <div id="left"></div> 
            <div id="right">
                <div id="k1"></div>
                <div id="k2">
                </div>
            </div>
            <div id="center">
                <div id="c1"></div>
                <div id="c2"></div>
                </div> 
            </div>

</body>
</html>