<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 300px;
            height: 500px;
            background: yellow;
        }
        .red{
            width: 100px;
            height: 100px;
            background: red;
        }
        .blue{
            width: 100px;
            height: 100px;
            background: blue;
            position: absolute;
            top: 120px;
        }
    </style>
</head>
<body>
    <!-- 
        +fixed: ở vị trí cố định khi lăn chuột, có thể thay đổi top, left, right, bottom
        +static: không phụ thuộc vào left, right, top, bottom, mặc định
        +position: quy định cách xác định vị trí của phần tử html
        +có thể thay đổi top, left, right, bottom:
            -fixed: ở vị trí cố định khi lăn chuột
            -absolute: xác định vị trí theo thẻ cha
            -relative: xác định vị trí theo vị trí mặc định của nó
     -->
    <div>
        <div class="red"></div>
        <div class="blue"></div>
    </div>
</body>
</html>
